.site-nav-list {
    display: flex;
    margin-left: 93px;
}

    .site-item:not(:last-child) {
    margin-right: 50px;
}

.site-nav-link {
    transition: color var(--timing-duration) var(--timing-function);

    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
        
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    color: var(--title-text-color);    
    
    text-decoration: none;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
        color: var(--accent-text-color);
        }
}

.studio-active-link,
.portfolio-active-link {
    color: var(--accent-text-color);
}

.portfolio-link {
    position: relative;

    &::after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    width: 78px;
    height: 4px;

    background-color: var(--accent-text-color);
    border-radius: 2px;
    transition: opacity var(--timing-duration) var(--timing-function);
}
}

.studio-link {
    position: relative;

    &::after {
    position: absolute;

    bottom: 0;
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    transition: opacity var(--timing-duration) var(--timing-function);
}
}
